asgiref
blessings
bpython
certifi
chardet
colored-traceback
curtsies
cwcwidth
Django
django-dotenv
django-split-settings
flake8
greenlet
idna
isort
jedi
mccabe
msgpack
neovim
parso
pycodestyle
pyflakes
Pygments
pynvim
pytz
pyxdg
requests
six
sqlparse
urllib3
celery
djangorestframework
django-celery-beat
django-celery-results
django-cors-headers
django-modeladmin-reorder
redis
django-easy-select2
dj-database-url
psycopg2-binary
